html {
  height: 100%;
  width: 100%;
}
body {
  background-color:#d9b8b6;
}

* {
  padding: 0px;
  margin: 0px;
}

h1{
  font-family: myFirstFont;
  padding: 15px;
  font-size: 60px;
  text-align: center;
  background-color: #c57f7d;
  color: #ECF8F8;
}
h2{
  padding: 15px;
  font-size: 40px;
  background-color: #b68572;
  color: #ECF8F8;
  box-shadow: 10px 10px #c9ada7;
  border-radius: 10px;
}

.hpButton1{
  z-index: 1;
  position: absolute;
  left: 180px;
  top: 35%;
  width: 400px;
  height: 300px;
  font-family: mySecondFont;
  padding: 15px;
  font-size: 40px;
  background-color: #c57f7d;
  color: #ECF8F8;
  box-shadow: 10px 10px #a1847d;
  border: none;
  border-radius: 10px;
}

.hpButton2{
  z-index: 1;
  position: absolute;
  left: 770px;
  top: 35%;
  width: 400px;
  height: 300px;
  font-family: mySecondFont;
  padding: 15px;
  font-size: 40px;
  background-color: #c57f7d;
  color: #ECF8F8;
  box-shadow: 10px 10px #a1847d;
  border: none;
  border-radius: 10px;
}

.titles{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hpButton1:hover {
  background-color: #E6BEAE;
  opacity: 0.7;
}
.hpButton2:hover {
  background-color: #E6BEAE;
  opacity: 0.7;
}

.decoration { 
  position: relative; 
} 

.hanger {
  position: absolute;
  height: 250px;
  width: 250px;
  bottom: 3%;
  left: 80px;
  z-index: 8;
}

.eye {
  position: absolute;
  height: 100px;
  width: 100px;
  padding-top: 13%;
  top: 80%;
  left: 330px;
  z-index: 2;
}

.plus-sign {
  position: absolute;
  height: 100px;
  width: 100px;
  padding-top: 13%;
  top: 80%;
  left: 1050px;
  z-index: 2;
}

.character {
  position: absolute;
  padding-top: 12%;
  left: 80%; /* Adjust as needed to move the .shirt image */
  height: 370px;
  width: 300px;
  object-fit: cover;
  object-position: 100%;
  z-index: 8;
}

@font-face {
  font-family: myFirstFont;
  src: url(la-obrige.personal-use.otf);
}

@font-face {
  font-family: mySecondFont;
  src: url(sheepishsage.regular.ttf);
}

@font-face {
  font-family: myThirdFont;
  src: url(dolceGargia.otf);
}

.bounce {
  display: inline-block;
      padding-left: 100%;
      animation: marquee 10s linear infinite;
  }
  
  
marquee{
  position: relative;
  border: 5px dotted white;
  color: white;
  font-family: myFirstFont;
  z-index: 2;
}

